.mainDiv {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 24px 0;
}
.filterDiv {
    width: 180px;
}
.filterOption {
    display: flex;
    flex-direction: column;
}
.filterCheckbox {
    margin: 6px 0;
    cursor: pointer;
}
input {
    margin-right: 12px;
}
th {
    text-align: left;
    padding: 12px 24px;
    font-size: 15px;
    font-weight: bolder;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    background-color: #fff;
    border-bottom: 4px solid #f6f7fb;
    padding: 25px;
}
h1 {
    font-weight: bolder;
}
h3 {
    font-size: 21px;
    font-weight: bolder;
}